.phone {
  /* Your phone styles */
  width: 210px;
  height: 400px;
  background-color: black;
  border-radius: 20px;
  transition: transform 0.5s ease;
  perspective: 1000px; 
  user-select: none; 
  cursor: grab;
  animation-name: phone;
  animation-duration: 5s;
  animation-iteration-count: infinite; 
}
@keyframes phone{
  0%{
    transform: rotate3d(180deg)
  }
}

.phone:active {
  cursor: grabbing; 
}

#phone_bg{
  background: url(../public/phone2.png);
  width: 80%;
  height: 89%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: whitesmoke;
  border-bottom-left-radius: 2.2rem;
  border-bottom-right-radius: 2.2rem;
}


.screen {
  width: 160px;
  height: 320px;
  background-color: rgb(230, 227, 227);
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}


